Header {
  text-align: center;
  font-family: bauhaus;
  background-color: rgb(255, 255, 255);
  height: 100px;
  justify-content: center;
  font-size: larger;
  align-items: center;
  height: fit-content;
}

.logo {
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: center;
}

.background {
  margin: 0px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(63, 63, 63);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.kontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center; 
  color: (255,255,255);

}

.item {
  flex: 1;
  align-self: center; 
}

.budi {
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: center;
  
}

.bg-body-tertiary {
  text-align: center;
  font-family: bauhaus;
  background-color: rgb(255, 255, 255);
  height: 100px;
  justify-content: center;
  font-size: larger;
  align-items: center;
  height: fit-content;
}

.me-auto {
  text-align: center;
  font-family: bauhaus;
  background-color: rgb(255, 255, 255);
  height: 100px;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.d-flex {
  text-align: center;
  font-family: bauhaus;
  background-color: rgb(255, 255, 255);
  height: 100px;
  justify-content: center;
  font-size: larger;
  align-items: center;
  height: fit-content;
}

.me-auto1 {
  text-align: center;
  align-items: center;
  height: fit-content;
  background-color: rgb(255, 255, 255);
}
